<!DOCTYPE html>
<html>
<head> 
<script language="javascript" type="text/javascript" src="../static/jqplot/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../static/jqplot/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="../static/jqplot/plugins/jqplot.logAxisRenderer.js"></script>
<script language="javascript" type="text/javascript" src="../static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript"  src=" ../static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script language="javascript" type="text/javascript" src="../static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js" ></script>
<link rel="stylesheet" type="text/css" href="../static/jqplot/jquery.jqplot.css" />
<script type="text/javascript">
$(document).ready(function(){
        $.jqplot.config.enablePlugins = true;
		var s1 = [];
        var ticks = [];
        $.getJSON('/stats/',function (data) { 
		console.log(data.length);
		
		for (var i=0; i<data.length; i++) {ticks.push(data[i]._id);
		s1.push(data[i].total);}
		console.log(s1);
        plot1 = $.jqplot('chart2', [s1], {
            animate: !$.jqplot.use_excanvas,
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                pointLabels: { show: true }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer,
                    ticks: ticks
                }
            },
            highlighter: { show: false }
        });
		});
     
        $('#chart2').bind('jqplotDataClick',
            function (ev, seriesIndex, pointIndex, data) {
                $('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data+', ticks: '+ ticks[pointIndex] );
                actualiza_documentos(ticks[pointIndex])

            }
        );
    });
function actualiza_documentos(cadena) {
$.getJSON('/listadoc/' + cadena,function (json) {
        var tr;
        for (var i = 0; i < json.length; i++) {
            tr = $('<tr/>');
            tr.append("<td>" + json[i].User_Name + "</td>");
            tr.append("<td>" + json[i].score + "</td>");
            tr.append("<td>" + json[i].team + "</td>");
            $('documentos#table').append(tr);
        }
    });

}
</script>
</head>
<body>

<div><span>You Clicked: </span><span id="info1">Nothing yet</span></div>
<div id="chart2" style="height:500px;width:1000px;"></div>
<div id="documentos" style="height:500px;width:800px;">
    <table>

    </table>

</div>

</body>
</html>