{% extends "base.html" %}

{% block body %}
<script language="javascript" type="text/javascript" src="/static/jqplot/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jqplot/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jqplot/plugins/jqplot.bubbleRenderer.js"></script>
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/jqplot/jquery.jqplot.css" />
<style>
        #tooltip1b {
        font-size: 12px;
        color: rgb(15%, 15%, 15%);
        padding:2px;
        background-color: rgba(95%, 95%, 95%, 0.8);
    }
</style>
<script>
$(document).ready(function() {
$( "ul li" ).addClass(function( index, currentClass ) {
  var addedClass;
    if ( currentClass === "Busq" ) {
    addedClass = "active";
  }
  return addedClass;
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
        $.jqplot.config.enablePlugins = true;

         $.getJSON('/statsvotos/',function (data) {
		var array = [];
		for (var i=0; i<data.length; i++) {
		    array.push([data[i].pos, data[i].neg, data[i].enc, data[i].nombre])
		}

        array.sort(function(a, b){return b[2]-a[2]});

        plot1b = $.jqplot('chart2',[array],{
        title: 'Estadistica sobre los documentos',
        height: 600,

        seriesDefaults:{
            renderer: $.jqplot.BubbleRenderer,
            rendererOptions: {
                bubbleAlpha: 0.6,
                highlightAlpha: 0.8,
                showLabels: false
            },
            shadow: true,
            shadowAlpha: 0.05
        },
        axes:{
        xaxis:{
          label:'Votos Positivos'
        },
        yaxis:{
          label:'Votos Negativos'

        }
      }

    });

    // Legend is a simple table in the html.
    // Now populate it with the labels from each data value.
    $.each(array, function(index, val) {
        $('#tabla').append('<tr><td>'+val[3]+'</td><td>'+val[2]+'</td></tr>');
    });

    // Now bind function to the highlight event to show the tooltip
    // and highlight the row in the legend.
    $('#chart2').bind('jqplotDataHighlight',
        function (ev, seriesIndex, pointIndex, data, radius) {
            var chart_left = $('#chart2').offset().left,
                chart_top = $('#chart2').offset().top,
                x = plot1b.axes.xaxis.u2p(data[0]),  // convert x axis unita to pixels on grid
                y = plot1b.axes.yaxis.u2p(data[1]);  // convert y axis units to pixels on grid
            var color = 'rgb(50%,50%,100%)';
            $('#tooltip1b').css({left:chart_left+x+radius+5, top:chart_top+y});
            $('#tooltip1b').html('<span style="font-size:14px;font-weight:bold;color:'+color+';">' +
            data[3] + '</span><br />' + 'Positivo: '+data[0] + '<br />' + 'Negativo: ' +
            data[1] + '<br />' + 'Encontrado: ' + data[2]);
            $('#tooltip1b').show();
            $('#tabla tr').css('background-color', '#ffffff');
            $('#tabla tr').eq(pointIndex).css('background-color', color);
        });

    // Bind a function to the unhighlight event to clean up after highlighting.
    $('#chart1b').bind('jqplotDataUnhighlight',
        function (ev, seriesIndex, pointIndex, data) {
            $('#tooltip1b').empty();
            $('#tooltip1b').hide();
            $('#tabla tr').css('background-color', '#ffffff');
        });

    });
    });


</script>
<div style="position:absolute;z-index:99;display:none;" id="tooltip1b"></div>
 <div class="row">
     <div class="col-lg-8">
    <div id="chart2" style="height, 800"></div>
</div>
    <div class="col-lg-4">

        <table  class="table table-striped" id="tabla"></table></div>


    </div>


{% endblock %}