{% extends "base.html" %}

{% block body %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Takesi</h1>
        <img src="./static/logo.jpg" height="200" width="160"></img>
        <p class="lead">Aplicación de búsqueda sobre un Corpus de documentos</p>
        <p><div id="busquedas" align="center" >
		<form action="{{ url_for('busqueda') }}" method="post">
          <p><input type="text" name="text" size="60"><!--
          --><input type="submit" class="btn btn-lg btn-success" value="Consultar">
        </form></div></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Búsqueda</h2>
          <p>Los datos están almacenados en MongoDB.</p>
          <p>Utiliza diferentes algoritmos para encontrar el pasaje cuya respuesta concuerda más con la pregunta </p>

        </div>
        <div class="col-lg-4">
          <h2>Similitud</h2>
          <p>Comprueba que documentos de la colección son similares entre sí para detectar duplicidades</p>

       </div>
        <div class="col-lg-4">
          <h2>Estadísticas</h2>
          <p>Revisa que documentos son más veces encontrados por los usuarios y cuales de ellos han recibido más votos positivos</p>

        </div>
      </div>

{% endblock %}