<html>
<meta charset="utf-8">
<style>


</style>
<body>
<div id="bloque" style="position: absolute; left:500px; top:100px; width: 400px; height: 650px;">
<div id="logo" align="center" > <img src="./static/logo.jpg" height="200" width="160"></img></div>
<div id="busquedas" align="center" > 
		<form action="{{ url_for('busqueda') }}" method="post">
          <p><input type="text" name="text" size="60"><!--
          --><input type="submit" value="Consultar">
        </form></div>
<div id="menu">
<a href="/admin/">Admin</a>
<a href="/graph/">Distribucion de TAGS</a>
    <a href="/graphcloud/">Graficas Nube</a>
    <a href="/graphmap/">Similitud documentos</a>
</div>
  <div class="footer" align="center" style="position: relative; top:200px;">
    Takesi. Aplicación de búsqueda
  </div>
</div>

</body>
</html>
