<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
    </style>
    <script src="http://d3js.org/d3.v3.js"></script>
  </head>
  <body>
    <div id="marcador">
        <p id="Fichero1"></p>
        <p id="Fichero2"></p>
        <p id="Similitud"></p>

    </div>
    <div id="chart"></div>
    <div id="tabla" style="position: absolute; left: 1050px; top: 75px;"></div>


    <script type="text/javascript">



    label=[];
    i=0;
    {% for item in labels %}
        label.push('{{item}}');
    {% endfor %}

    var etiqueta = d3.select("body").append("svg").attr("width",100).attr("height",30);


      var margin = { top: 50, right: 0, bottom: 100, left: 100 },
          width = 1000 - margin.left - margin.right,
          height = 1200 - margin.top - margin.bottom,
          gridSize = Math.floor(width / label.length),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = label,
          times = label;



      d3.csv("{{ url_for( 'static', filename='data.csv') }}",
        function(d) {

          return {
            day: d.f1,
            hour: d.f2,
            value: +d.value
          };
        },
        function(error, data) {
          var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
              .range(colors);

          var svg = d3.select("#chart").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          var dayLabels = svg.selectAll(".dayLabel")
              .data(days)
              .enter().append("text")
                .text(function (d, i) { return i; })
                .attr("x", 0)
                .attr("y", function (d, i) { return i * gridSize; })
                .style("text-anchor", "end")
                .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
                .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

          var timeLabels = svg.selectAll(".timeLabel")
              .data(times)
              .enter().append("text")
                .text(function(d, i) { return i; })
                .attr("x", function(d, i) { return i * gridSize; })
                .attr("y", 0)
                .style("text-anchor", "middle")
                .attr("transform", "translate(" + gridSize / 2 + ", -6)")
                .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

          var heatMap = svg.selectAll(".hour")
              .data(data)
              .enter().append("rect")
              .attr("x", function(d) { return (label.indexOf(d.hour) ) * gridSize; })
              .attr("y", function(d) { return (label.indexOf(d.day) ) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          heatMap.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.value); });

          heatMap.append("title").text(function(d) {
             return d.day + "-" + d.hour + " -- Similitud: " + d.value; });

          heatMap.on('mousemove', function (d) {
                var coordinates = [0, 0];
                coordinates = d3.mouse(this);
                var x = coordinates[0];
                var y = coordinates[1];
                d3.select("#Fichero1").html(d.day);
                d3.select("#Fichero2").html(d.hour);
                d3.select("#Similitud").html(d.value);
                });

          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; })
              .enter().append("g")
              .attr("class", "legend");



          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height )
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "= " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);
      });

      var svg2 = d3.select("#tabla");
      var table = svg2.append("table").append("thead").append("tbody");
      var tr = table.selectAll("tr")
      .data(label)
        .enter()
        .append("tr").html(function(d, i) { fich="PDF/" + d; return "<td>"+ i +"</td><td>"+ d +"</td>"; })

    </script>
  </body>
</html>