{% extends "base.html" %}

{% block body %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Resultados</h2>
        <p class="lead"> Resultados: {{ question }}</p>
      </div>

      <!-- Example row of columns -->

        <div class="row">
        <div class="col-lg-8">


            <h3>Resultados: </h3>
                    {% for item in entries3 %}
              <h4> Documento: {{ item[2] }} </h4>
              <h5> Score: {{ item[1] }} </h5>
              <h4> Respuesta: </h4>
                {% for line in item[0] %}
                    {{ line }}
                {% endfor %}
           {% else %}
            <em>No hay respuestas coincidentes</em>
          {% endfor %}
        </div>

        <div class="col-lg-4">
            <h3>Documentos más cercanos a la búsqueda:</h3>
            {% for resp in resps %}
            <h4> <a href="/doc/{{resp._id}}">{{ resp.nombre }}</a></h4>    <h5> Score: ({{resp.score}})</h5>

        <p><a class="btn btn-success" href="/doc/pos/{{resp._id}}" role="button">Voto Positivo &raquo;</a></p>
       <p><a class="btn btn-danger" href="/doc/neg/{{resp._id}}" role="button">Voto Negativo &raquo;</a></p>
      {% else %}
        <em>No hay documentos coincidentes</em>
      {% endfor %}

        </div>
            </div>

{% endblock %}